<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Climbs

    <a data-toggle="collapse" href="#user_climbs_new_form">
      Add climb
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.climbs.each do |climb| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/climbs/<%= climb.id %>">
          <%= climb.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
