<h1>
  Add a new location
</h1>


<hr>

<!-- Form location start -->
<form action="/create_location" method="post">
<!-- Form location end -->

  <!-- Label and input for city start -->
  <div class="form-group">
    <label for="city">
      City
    </label>

    <!-- Input for city start -->
    <input type="text" id="city" name="city" class="form-control">
    <!-- Input for city end -->
  </div>
  <!-- Label and input for city end -->

  <!-- Label and input for indooroutdoor start -->
  <div class="form-group">
    <label for="indooroutdoor">
      Indooroutdoor
    </label>

    <!-- Input for indooroutdoor start -->
    <input type="text" id="indooroutdoor" name="indooroutdoor" class="form-control">
    <!-- Input for indooroutdoor end -->
  </div>
  <!-- Label and input for indooroutdoor end -->

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
