<h1>
  Add a new location
</h1>


<hr>

<form action="/create_location" method="post">

  <div class="form-group">
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" class="form-control">
  </div>

  <div class="form-group">
    <label for="indooroutdoor">
      Indooroutdoor
    </label>

    <input type="text" id="indooroutdoor" name="indooroutdoor" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
